<h1>
  Product Admin
</h1>

<button
  class="action-create-new-product"
  mat-flat-button
  color="primary"
  *ngIf="!newProduct"
  (click)="createNewProduct()"
>
  Create new product
</button>

<ng-container *ngIf="view$ | async as v">
  <mat-spinner diameter="55" *ngIf="v.loading"></mat-spinner>
  <p class="error" *ngIf="v.error">{{ v.error }}</p>

  <todo-product-editor
    *ngIf="newProduct"
    [product]="newProduct"
    (save)="createNewProductSave($event)"
    (cancel)="createNewProductCancel()"
  ></todo-product-editor>

  <todo-product-editor
    *ngIf="v.editedProduct"
    [product]="v.editedProduct"
    (save)="editProductSave($event)"
    (cancel)="editProductCancel()"
  ></todo-product-editor>

  <todo-product-item
    *ngFor="let product of v.products"
    [product]="product"
    (edit)="editProduct($event)"
    (remove)="removeProduct($event)"
  ></todo-product-item>
</ng-container>
