@import '~@angular/material/theming';

@mixin todo-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  todo-app {
    mat-toolbar {
      button {
        &.active {
          background-color: mat-color($primary, lighter) !important;
        }
      }
    }
  }
}
