mat-toolbar {
  img {
    height: 80%;
    padding: 10% 20px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin: 0 10px;
  }

  iframe {
    width: 160px;
    height: 20px;
    margin: 0 0 0 10px;
  }
}
