<mat-toolbar color="primary">
  <img src="../assets/ngrx.svg" alt="NgRx logo" />
  <span>Angular State Management Workshop by Tomas Trajan</span>
  <iframe
    allowtransparency="true"
    frameborder="0"
    scrolling="no"
    src="//platform.twitter.com/widgets/follow_button.html?screen_name=tomastrajan&show_screen_name=false"
  ></iframe>
  <span class="spacer"></span>
  <button
    mat-flat-button
    routerLink="home"
    routerLinkActive="active"
    color="primary"
  >
    Home
  </button>
  <button
    mat-flat-button
    routerLink="todo"
    routerLinkActive="active"
    color="primary"
  >
    Todo
  </button>
  <button
    mat-flat-button
    routerLink="user"
    routerLinkActive="active"
    color="primary"
  >
    User
  </button>
  <button
    mat-flat-button
    routerLink="product"
    routerLinkActive="active"
    color="primary"
  >
    Product
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
