<h1>
  User Admin
</h1>

<button
  class="action-create-new-user"
  mat-flat-button
  color="primary"
  *ngIf="!newUser"
  (click)="createNewUser()"
>
  Create new user
</button>

<ng-container *ngIf="view$ | async as v">
  <mat-spinner diameter="55" *ngIf="v.loading"></mat-spinner>
  <p class="error" *ngIf="v.error">{{ v.error }}</p>

  <todo-user-editor
    *ngIf="newUser"
    [user]="newUser"
    (save)="createNewUserSave($event)"
    (cancel)="createNewUserCancel()"
  ></todo-user-editor>

  <todo-user-editor
    *ngIf="v.editedUser"
    [user]="v.editedUser"
    (save)="editUserSave($event)"
    (cancel)="editUserCancel()"
  ></todo-user-editor>

  <todo-user-item
    *ngFor="let user of v.users"
    [user]="user"
    (edit)="editUser($event)"
    (remove)="removeUser($event)"
  ></todo-user-item>
</ng-container>
