:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20%;
  position: relative;

  .action-create-new-user {
    position: absolute;
    top: 77px;
    right: 20%;
    margin: 0 10px 0 0;
  }
  mat-spinner {
    position: absolute;
    top: 70px;
    left: 20%;
    margin: 0 0 0 10px;
  }

  .error {
    color: #b80000;
  }
}
