<h2>Exercise #3</h2>

<h1>Reducers</h1>
<p>
  In this exercise were going to explore how to implement and use reducers
</p>

<ul>
  <li>Define feature state property</li>
  <li>Create state interface</li>
  <li>Create state initial state</li>
  <li>Implement empty reducer using provided NgRx creator function</li>
  <li>
    Export and use reducer and feature state property to register its state into
    store
  </li>
  <li>Implement reducer handlers for various actions</li>
  <li>Create new state in reducer handlers</li>
</ul>
